/* BASE.HTML */

html, body {
    margin:0;
    padding:0;
}

#wrapper {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    background-color: aqua;
    width: 100%;
    height: 100%;
}

#header {
    grid-row: 1 / 2;
    background-color: lightblue;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

#logo {
    grid-area: 1 / 1 / 2 / 2;
}

#userOpts {
    grid-column: 9 / 10;
}

#main {
    grid-row: 2 / 8;
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(9, 1fr);
}

#footer {
    grid-row: 8 / 9;
    background-color: plum;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

/* USERHOME.HTML */

#content {
    grid-area: 1 / 3 / 4 / 10;
    background-color: bisque;
}

/* SIGNUP.HTML */

#signup {
    grid-area: 1 / 5 / 4 / 6;
    justify-items: center;
}

/* LOGIN.HTML */

#login {
    grid-area: 1 / 5 / 4 / 6;
    justify-items: center;
}

#login input {
    margin: 20px;
}

/* SIDENAV.HTML */

#sidenav {
    grid-area: 1 / 1 / 4 / 3;
    background-color: yellow;
}

/* LIST_DETAILS.HTML & LIST_DETAILS_MULTIPLE.HTML */

.list_item {
    align-items: center;
    border: 2px solid black;
}

/* LIST_DETAILS.HTML */

.list_item.indiv {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr;
}

.list_item.indiv img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    justify-self: center;
    align-self: center;
}

.list_item.indiv > .movie_info {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 10px 0;
}

.list_item.indiv > .user_info {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 10px 0;
}

.controls {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: space-around;
    align-content: space-around;
}

.controls button {
    display: block;
    align-self: center;
}

/* LIST_DETAILS_MULTIPLE.HTML */

.list_item.multi {
    display: grid;
    grid-template-columns: 0.2 5fr;
    align-items: center;
    border: 2px solid black;
}

.list_item.multi > input {
    grid-column: 1 / 2;
}

.list_item.multi > label {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}