/* BASE.HTML */

* {box-sizing:border-box;}

html, body {
    margin:0;
    padding:0;
}

#wrapper {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    background-color: #4d6caa;
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    color: #faf1d1;
}

#header {
    grid-row: 1 / 2;
    background-color: #194b71;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

h1, h2 {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #faf1d1;
}

a:hover {
    color: #ffeeb0;
}

input[type=text],input[type=password],input[type=email] {
    border: none;
    border-radius: 10px;
    min-width: 200px;
    min-height: 30px;
    font-family: 'Inter', sans-serif;
    margin: 20px;
}

input[type=text]:focus,input[type=password]:focus,input[type=email]:focus {
    outline: none;
    border-radius: 10px;
    min-width: 200px;
    min-height: 30px;
    font-family: 'Inter', sans-serif;
}

#logo {
    grid-area: 1 / 1 / 2 / 5;
    font-size: 46px;
    font-family: 'Philosopher', sans-serif;
    text-align: center;
}

#userOpts {
    grid-column: 9 / 10;
}

#main {
    grid-row: 2 / 8;
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    min-height: 75vh;
    margin: 0 0 100px 0;
}

#footer {
    grid-row: 8 / 9;
    background-color: #194b71;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    position: fixed;
    bottom: 0;
}

/* USERHOME.HTML */

#content {
    grid-area: 1 / 3 / 4 / 12;
    max-height: 100%;
    background-color: #7795d1;
    border-radius: 0 0 25px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

/* SIGNUP.HTML */

#signup {
    grid-area: 1 / 6 / 4 / 7;
    justify-items: center;
}

/* LOGIN.HTML AND SIGNUP.HTML */

.center_form {
    grid-area: 1 / 6 / 4 / 7;
}

.center_form form {
    justify-items: center;
    display: flex;
    flex-direction: column;
}

.center_form input {
    margin: 20px;
}

.center_form input[type=checkbox] {
    margin: 0;
}

.center_form label {
    display: inline;
}

#updateListButton {
    margin: 50px 0 20px 0;
}

#deleteListButton {
    margin-top: 150px;
    background-color: lightpink;
}

/* SIDENAV.HTML */

#sidenav {
    grid-area: 1 / 1 / 4 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
}

#sidenav ul {
    list-style-position: inside;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#side-controls{
    margin: 70px 0 0 0;
}

/* LIST_DETAILS.HTML & LIST_DETAILS_MULTIPLE.HTML */

#list_edit {
    grid-column: 11 / 13;
}

#list_header {
    text-align: center;
}

.list_item {
    align-items: center;
    border: 2px solid #4d6caa;
    background-color: #faf1d1;
    color: #4d6caa;
    border-radius: 25px;
    margin: 20px;
}

/* LIST_DETAILS.HTML */

.list_item.indiv {
    grid-area: 2 / 1 / 3 / 8;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr;
}

.list_item.indiv img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    justify-self: center;
    align-self: center;
}

.list_item.indiv > .movie_info {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 10px 0;
}

.movie_title {
    font-size: 18px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.tagline {
    font-weight: 400;
}

.list_item.indiv > .user_info {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 10px 0;
}

.controls {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: space-around;
    align-content: space-around;
}

.controls button {
    display: block;
    align-self: center;
}

/* LIST_DETAILS_MULTIPLE.HTML */

.list_item.multi {
    grid-area: 2 / 1 / 3 / 8;
    display: grid;
    grid-template-columns: 0.2fr 1fr 2fr 1fr;
    grid-template-rows: 2fr;
}

.list_item.multi input {
    cursor: pointer;
}

.list_item_label {
    grid-area: 1 / 2 / 3 / 8;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr;
    cursor: pointer;
}

.list_item.multi img {
    grid-area: 1 / 1 / 3 / 2;
    justify-self: center;
    align-self: center;
}

.list_item.multi > .movie_info {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    margin: 10px 0;
}

.movie_title {
    font-size: 18px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.tagline {
    font-weight: 400;
}

.list_item.multi > .user_info {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    margin: 10px 0;
}

/* button restyling found at https://css-tricks.com/overriding-default-button-styles/ */

button {
    display: inline-block;
    border: none;
    padding: 0.5rem 0.5rem;
    margin: 10px;
    border-radius: 10px;
    min-width: 200px;
    background-color: #faf1d1;
    color: #4d6caa;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 50ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.list_item button {
    background-color: #4d6caa;
    color: #faf1d1;
}

button:hover,
button:focus {
    background: #fffae8;
}

.list_item button:hover,
.list_item button:focus {
    background: #7795d1;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

/* MOVIE_SEARCH.HTML */

#movieSearchButton {
    grid-column: 3 / 5;
    justify-self: center;
    align-self: center;
}

#movieSearchForm {
    justify-self: center;
    display: flex;
    flex-direction: column;
}

#search_form {
    grid-area: 2 / 3 / 3 / 5;
    justify-content: center;
}

#search_results{
    grid-area: 2 / 1 / 3 / 7;
    display: flex;
    flex-direction: column;
}

#list_select {
    grid-area: 2 / 1 / 3 / 7;
    display: flex;
    justify-items: center;
}

#lists {
    /* original style removal found here: https://www.htmlgoodies.com/css/multi-select-lists-css/ */
    /* styles reset, including removing the default dropdown arrow */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* background-color: transparent; */
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;

    /* Stack above custom arrow */
    z-index: 1;

    /* Remove focus outline */
    outline: none;
}

.movie_option {
    display: flex;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ffeeb0;
    border-radius: 10px;
}

/* SETTINGS.HTML */

#safe_settings {
    grid-area: 1/ 5 / 3 / 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #faf1d1;
    border-radius: 10px;
    margin: 10px;
}

#safe_settings input,label {
    display: block;
}

#passwordButtonDiv {
    grid-area: 3/ 5 / 5 / 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #faf1d1;
    border-radius: 10px;
    margin: 10px;
}

#password_ok {
    color: lightgreen;
}

#password_error {
    color: lightcoral;
}

#password_settings {
    grid-area: 3/ 5 / 5 / 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #faf1d1;
    border-radius: 10px;
    margin: 10px;
}

#password_settings input,label {
    display: block;
}