<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
</head>
<body>
        <div id="wrapper">
            <div id="header">
                <h1 id="logo"><a href="/">A-lister</a></h1>
                {% block header %}
                    <div id="userOpts">
                            {% if user['user_id'] %}
                                <p>Hi {{ user['user_fname'] }}</p>
                                <a href="/logout">Log out</a>
                            {% else %}
                                <a href="/login">Login</a> or <a href="/signup">Sign up</a>
                            {% endif %}
                    </div>
                {% block pageheading %}{% endblock %}
                {% endblock %}
            </div>
            <div id="main">
                {% block content %}{% endblock %}
            </div>
            <div id="footer">
                {% block footer %}
                <script src="{{ url_for('static', filename='script.js') }}"></script>
                &copy; Copyright 2022 by <a href="https://github.com/davebdev">Dave Buckley</a>.
                {% endblock %}
            </div>
        </div>
</body>
</html>