<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Philosopher:wght@700&family=Plus+Jakarta+Sans&display=swap" rel="stylesheet"
{% endblock %}
</head>
<body>
        <div id="wrapper">
            <div id="header">
                <a href="/"><h1 id="logo">A-lister</h1></a>
                {% block header %}
                    <div id="userOpts">
                            {% if user['user_id'] %}
                                <p>Hi {{ user['user_fname'] }}</p>
                                <a href="/logout">Log out</a>
                            {% else %}
                                <a href="/login">Login</a> or <a href="/signup">Sign up</a>
                            {% endif %}
                    </div>
                {% block pageheading %}{% endblock %}
                {% endblock %}
            </div>
            <div id="main">
                <div id="sidenav">
                    <h2>{% block sidenav_heading %}{% endblock %}</h2>
                {% include 'sidenav.html' %}
                </div>
                {% block content %}{% endblock %}
            </div>
            <div id="footer">
                {% block footer %}
                <p>&copy; Copyright 2022<br><a href="https://github.com/davebdev">Dave Buckley</a></p>
                {% block pageScript %}{% endblock %}
                {% endblock %}
            </div>
        </div>
</body>
</html>