{% if list_items %}
<h2>list details:</h2>

<form>
    {% for item in list_items %}
    <div class="list_item">
        <input type="checkbox" name="list_item" value="{{ item[0] }}" id="{{ item[0] }}" >
        <label for="{{ item[0] }}">
            <img class="poster" src="https://image.tmdb.org/t/p/w500{{ item[15] }}" width="100px">
            <p class="movie_info"><strong>{{ item[9] }}</strong> ({{ item[10] }})<br><em>{{ item[11] }}</em><br>
                {{ item[12] }} (runtime: {{ item[13] }} mins)
            </p>
        </label>
    </div>
    {% endfor %}
    <button type="submit">Delete selected</button>
</form>

{% endif %}