{% if list_data %}

<div id="list_header">
    <h2>{{ list_data[0][2] }}</h2>
</div>

<div id="list_controls">
    <form action="/cancel_multiple_select" method="post">
        <input type="hidden" name="list_id" value="{{ list_data[0][0] }}">
        <input type="hidden" name="userpage" value="{{ userpage }}">
        <button>Cancel</button></form>
</div>

{% endif %}

<div id="multi_list">
{% if list_items %}

<form action="/delete_multiple" method="post">
    <input type="hidden" name="list_id" value="{{ list_id }}">
    {% for item in list_items %}
    <div class="list_item multi">
        <input type="checkbox" name="list_item_id" value="{{ item[0] }}" id="{{ item[0] }}" >
        <label class="list_item_label" for="{{ item[0] }}">
            <img class="poster" src="https://image.tmdb.org/t/p/w500{{ item[15] }}" width="100px">
            <p class="movie_info"><span class="movie_title">{{ item[9] }}</span> ({{ item[10] }})<br><span class="tagline"><em>{{ item[11] }}</em></span><br>
                {{ item[12] }} <br>(runtime: {{ item[13] }} mins)
            </p>
            <p class="user_info">{{ item[5] }}<br>
            {{ item[4] }}/5</p>
            <div class="controls">
                {% if item[3] %}
                    <p>Watched on {{ item[3] }}</p>
                {% else %}
                    <p>Not yet watched.</p>
                {% endif %}
                <p class="edit"></p>
                <p class="delete"></p>
            </div>
        </label>
    </div>
    {% endfor %}
    <button type="submit">Delete selected</button>
</form>

{% endif %}
</div>