{% if user['username'] == userpage %}

    {% if list_id and not query %}
    <button id="movieSearchButton" title="Add movie">+</button>
    {% endif %}

    <div id="search_form">
        <form id="movieSearchForm" method="get" style="display: none;">
            <label for="movieSearch">Search: </label>
            <input type="text" name="query" id="movieSearch" {% if query %} value="{{ query }}" {% endif %}>
            <button type="submit">Search</button>
        </form>
    </div>
{% endif %}

{% if results and results['total_results']|int > 0 %}
    <form id="search_results" action="/add_movie" method="post">
        <div id="list_select">
            <label for="lists">Select which lists to add the movies to (hold 'ctrl'/'cmd' to select multiple):</label>
            <select name="lists" id="lists" multiple>
                {% for list in list_of_lists %} <option value="{{ list[0] }}" {% if list[0]|int == list_id|int %}selected{% endif %}>{{ list[2] }}</option>{% endfor %}
            </select>
        </div>
        {% for item in results['results'] %}
            <div class="movie_option">
                <label for="mov_{{item['id']}}"><input type="checkbox" id="mov_{{item['id']}}" name="movie_id" value="{{item['id']}}">{{item['title']}} ({{item['release_date']}}) - {{item['overview']}}</label>
            </div>
        {% endfor %}
        <input type="hidden" name="userpage" value="{{ userpage }}">
        <input type="hidden" name="list_id" value="{{ list_id }}">
        <button type="submit">Add</button>
    </form>
{% elif results and results['total_results']|int == 0 %}
    <p><em>No movies found with that title</em></p>
    <form>
        <input type="hidden" name="searchAgain" value="true">
        <button type="submit">Search again</button>
    </form>
{% else %}

{% block pageScript %}
<script>
    const addMovieButton = document.getElementById("movieSearchButton");
    const searchMoviesForm = document.getElementById("movieSearchForm");

    addMovieButton.addEventListener("click", showSearchForm);

    function showSearchForm() {
    searchMoviesForm.style.display = "block";
    }
</script>
{% if searchAgain == 'true' %}
<script>
showSearchForm();
</script>
{% endif %}
{% endblock %}

{% endif %}
