{% extends "base.html" %}
{% block title %}{{ user['username'] }}'s New List{% endblock %}
{% block content %}

{% include 'sidenav.html' %}
{% block sidenav_heading %}{{ user['username'] }}{% endblock %}
<div id="content">

<div class="center_form">
    <form action="/create_list" method="post">
        <label for="list_name">List name:</label>
        <input type="text" id="list_name" name="list_name">
        <label for="private">Private?</label>
        <input type="checkbox" id="private" name="private" value="t">
        <button type="submit">Create list</button>
    </form>
</div>

</div>
{% endblock %}