{% extends "base.html" %}
{% block title %}Settings{% endblock %}

{% block sidenav_heading %}{{ user['username'] }}{% endblock %}

{% block content %}

<div id="content">

{% if user['username'] %}

<div id="safe_settings">
    <form action="/update_safe_settings" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{ user['username'] }}" disabled title="Username cannot be changed">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" value="{{ user['user_email'] }}">
        <label for="fname">First name</label>
        <input type="text" id="fname" name="fname" value="{{ user['user_fname'] }}">
        <label for="lname">Last name</label>
        <input type="text" id="lname" name="lname" value="{{ user['user_lname'] }}">
        <button type="submit">Update</button>
    </form>
</div>

<div id="passwordButtonDiv" {% if message %} style="display: none;"{% endif %}><button id="updatePasswordButton">Change password</button></div>

<div id="password_settings" {% if not message %} style="display: none;"{% endif %}>
    {% if message %}
        {% if message == 'Password updated' %}
        <p id="password_ok">
        {% elif message == 'Password does not match' %}
        <p id="password_error">
        {% else %}
        <p>
        {% endif %}
    {{ message }}</p>
    {% endif %}
    <form action="/update_password" method="post">
    <label for="old_password">Previous password</label>
    <input type="password" id="old_password" name="old_password">
    <label for="new_password">New password</label>
    <input type="password" id="new_password" name="new_password">
    <button type="submit">Update password</button>
    </form>
</div>



{% endif %}

</div>

{% endblock %}

{% block pageScript %}
<script>
    const updatePasswordButton = document.getElementById("updatePasswordButton");
    const updatePasswordDiv = document.getElementById("passwordButtonDiv");
    const updatePasswordForm = document.getElementById("password_settings");

    updatePasswordButton.addEventListener("click", revealPasswordUpdate);

    function revealPasswordUpdate() {
    updatePasswordForm.style.display = "flex";
    updatePasswordDiv.style.display = "none";
    }
</script>
{% endblock %}