{% if list_of_lists %}
    {% for list in list_of_lists %}
    <ul>
        <li><form action="/user/{{ userpage }}/list/{{ list[0] }}" method="post"><button type="submit">{{ list[2] }}</button></form></li>
    </ul>
    {% endfor %}
{% else %}
{% endif %}

{% if user['username'] == userpage and user %}
    <div id="side-controls">
        <form action="/new_list" method="post"><button type="submit">Add new list</button></form>

        <hr>
        {% if list_id %}

        <form action="/edit_list/{{ list_data[0][0] }}" method="post"><button type="submit">Edit '{{ list_data[0][2] }}'</button></form>

        {% endif %}

        <form action="/settings" method="post"><button type="submit">Settings</button></form>
    </div>
{% endif %}
